.home_top{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin:2%;
    gap: 1%;
    
   
  }

  /* bg-red-400 p-8 rounded  */
  .first{
    background-color: rgb(58, 222, 21);
    padding: 10px;
    border-radius: 10px;
  }
  .font-size{
    color: white;
    font-size: xx-large;
    font-weight: 800;
  }
  .second{
    background-color: rgb(178, 196, 13);
    padding: 10px;
    border-radius: 10px;
  }
  .third{
    background-color: rgb(224, 6, 6);
    padding: 10px;
    border-radius: 10px;
  }