marquee{
    color: rgb(9, 9, 143);
    font-size: xx-large;
    font-weight: 700;
}
.review{
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;
    margin: 1% 5%;
    padding: 5% 20%;
    background-color: rgb(101, 206, 206);
    border-radius: 10px;
    color: rgb(237, 4, 78);
    font-weight: 700;
}
.commit{
    margin-top: 1%;
    width: 100%;
}
#comment{
    border: 1px solid rgb(121, 115, 115);
    margin-left: 5%;
    padding: 3%;
    border-radius: 10px;
    background-color: blanchedalmond;
}
.submit{
    background-color: rgb(54, 143, 143);
    padding: 5px 15px;
    border-radius: 10px;
    margin-left: 5%;
}
.select{
    display: flex;
    justify-content: space-around;
    margin: 5%;
    padding: 3%;
    

}

.selection{
    background-color: cadetblue;
    height: 100px;
    margin: 5%;
    border-radius: 10px;
    
}

